body {
    text-align: center;
    background-color: #4B3B40;
    color: #9CDE9F
}

h1 {
    color: #D1F5BE
}

form {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn {
    background-color: #D1F5BE;
    color: #4B3B40
}

#insert_url {
    border-radius: 4px;
    background-color: #D1F5BE;
    color: #82735C;
    border-color: #9DB17C           
}

footer{
    margin-top: 25px
}

.name {
    color: #9DB17C
}


